@CHARSET "UTF-8";

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    margin: 0px;
    background-color: #e3e3e3;
}

h1 {
	color: #AA0000;
}

a {
    color: #1C438B;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#header {
    /*background-color: #C63737; /* #AA0000; #6D0000; */
    background-color: #fff;
    border-bottom: 5px solid #AA0000;
}
#header #content {
    margin: 0 auto;
    width: 900px;
}
#header #content #title {
	font-size: 16px;
	font-weight: bold;
	color: #AA0000;
    float: left;
    padding: 10px;
    padding-left: 0px;
}
#header #content #links {
    float: right;
    margins: 0px;
    padding: 0px;
    list-style: none;
    display: block;
}
#header #content #links li {
    font-size: 14px;
    display: inline;
    padding: 10px;
}
#header #content #links li:last-child {
	padding-right: 0px;
}
#header #content #links li a {
    color: #666;
    text-decoration: none;
}
#header #content #links li a:hover {
    text-decoration: underline;
}

#main {
    background-color: #fff;
    padding: 20px;
}
#main #body {
    margin: 0 auto;
    width: 900px;
}
#main #body #content {
	float: left;
	width: 640px;
}
#main #body #sidebar {
	float: right;
	width: 220px;
	padding-left: 20px;
	border-left: 1px solid #ddd;
}

#menu-bottom {
    font-size: 11px;
    color: #666;
    border-bottom: 2px groove #fff;
}
#menu-bottom #links {
    margin: 0 auto;
    width: 900px;
    padding: 10px;
    list-style: none;
}
#menu-bottom #links li {
	display: inline;
	padding: 10px;
}
#menu-bottom #links li:first-child {
	padding-left: 0px;
}
#menu-bottom #links a {
    
}
#footer {
    font-size: 11px;
    color: #666;
    margin: 0 auto;
    width: 890px;
    padding: 10px;
    padding-left: 0px;
}

/* Form. */
form {
	margin: 0px;
	padding: 0px;
}
form table {
	margin-top: 10px;
	margin-bottom: 10px;
}
form table tbody tr th {
	text-align: right;	
}
form table tfoot tr td {
	border-top: 1px solid #ccc;
}
form table tfoot input[type=submit]{
	color: #AA0000;
}
form table tbody tr.error td {
	border-top: 1px solid #ddd;
	background-color: #fff;
	color: #AA0000;
	font-style: oblique;
}

/* Form customer classes. */
form input.full-width {
	width: 100%;
}

/* Classes. */
.ul {
	list-style-type: lower-greek;
    list-style-position: inside;
    padding-left: 0px;
}
.required {
	color: #AA0000;
}
.error {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 5px;
	padding-left: 25px;
	background-image: url('pix/bullet_error.png');
	background-repeat: no-repeat;
	background-position: 5px;
}

.ta-editor {
	width: 100%;
	height: 200px;
}

#main #body #content a.non-existent {
	color: brown;
	font-weight: bold;
}

/* Identifiers. */
#main #body #sidebar #user-box {
	margin-bottom: 20px;
}
#main #body #sidebar #user-box #sb-ub-i {
    float: left;
}
#main #body #sidebar #user-box #sb-ub-i img {
	padding: 2px;
	background-color: #fff;
	border: 1px solid #aaa;
}
#main #body #sidebar #user-box #sb-ub-c {
	float: left;
	margin-left: 10px;
}

#main #body #content #wiki h1 {
	font-size: 18px;
}

#main #body #content #wiki-info-box {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	text-align: right;
	font-size: 10px;
}
#main #body #content #wiki-info-box ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#main #body #content #wiki-info-box ul li {
	display: inline;
	margin-left: 5px;
}

#main #body #content #wiki-index {
	float: right;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
    padding-right: 10px;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
#main #body #content #wiki-index ul {
	padding-left: 10px;
	list-style: disc inside;
}

#main #body #content #wiki-info-box-footer {
	border-top: 1px solid #ddd;
	padding-top: 5px;
	font-size: 10px;
	text-align: right;
	margin-top: 10px;
}

#main #body #content #messages {
	background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
    padding-left: 25px;
    background-image: url('pix/information.png');
    background-repeat: no-repeat;
    background-position: 5px;
    margin-bottom: 10px;
}

/* Icons */
a.link-icon {
    height: 16px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
a.email {
	background-image: url('pix/email_link.png');
}
a.wiki-edit {
    background-image: url('pix/page_edit.png');
}
a.wiki-history {
    background-image: url('pix/time.png');
}

/* Table border. */
table.border {
	border: 1px solid #ddd;
}
table.border thead tr th {
    border-bottom: 1px solid #ddd;
    text-align: left;
}
table.border tbody tr td {
	border-bottom: 1px solid #e5e5e5;
}
table.border tbody tr:last-child td {
    border: none;
}
table.border tbody tr:hover td {
	background-color: #f5f5f5;
}
table.border tbody tr.highlight td {
	border-bottom: 1px solid #999;
	background-color: #e5e5e5;
	font-style: oblique;
}
table.border tfoot tr td {
	font-size: 11px;
	background-color: #f5f5f5;
}

/* Code */
pre {
	font-size: 10px;
	line-height: 12px;
	border: 1px solid #ccc;
	padding: 10px;
}
pre ins {
	background-color: #A5F7A5;
}
pre del {
	background-color: #FFBABA;
}
