@CHARSET "UTF-8";

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    margin: 0px;
}

h1 {
    font-weight: normal;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
h2 {
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

a {
    color: #1C438B;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#header {
    /*background-color: #C63737; /* #AA0000; #6D0000; */
    background-color: #fff;
    border-bottom: 1px solid #999;
}
#header #content {
    margin: 0 auto;
    width: 900px;
}
#header #content #title a {
    background-image: url('pix/logo-home-2.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 40px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
#header #content #links {
    float: right;
    margin-top: 31px;
}
#header #content #links a {
    float: left;
    color: #1C438B; /*#002565;*/
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #999;
    border-right: none;
    border-bottom: none;
}
#header #content #links a:hover {
    background-color: #eee;
}
#header #content #links a:last-child {
    clear: right;
    border-right: 1px solid #999;
}

#main {
    background-color: #fff;
    padding: 20px;
}
#main #body {
    margin: 0 auto;
    width: 900px;
}
#main #body #content {
    float: left;
    width: 680px;
}

#main #body #sidebar {
    float: right;
    width: 200px;
    spadding-left: 20px;
    sborder-left: 1px solid #ddd;
}
#main #body #sidebar h1 {
    font-size: 14px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

#recently-joined img {
    padding: 2px;
    background-color: #fff;
    border: 1px solid #aaa;
}

#menu-bottom {
    font-size: 11px;
    color: #666;
    border-bottom: 1px solid #aaa;
    background-color: #e3e3e3;
}
#menu-bottom #links {
    margin: 0 auto;
    width: 900px;
    padding: 10px;
    list-style: none;
}
#menu-bottom #links li {
    display: inline;
    padding: 10px;
}
#menu-bottom #links li:first-child {
    padding-left: 0px;
}
#menu-bottom #links a {
    
}
#footer {
    background-color: #e3e3e3;
}
#footer #text {
    font-size: 11px;
    color: #666;
    margin: 0 auto;
    width: 890px;
    padding: 10px;
    padding-left: 0px;
}

/* Form. */
form {
    margin: 0px;
    padding: 0px;
    display: inline;
}
input[type=text], input[type=password], textarea, select {
    border: 1px solid #999;
    padding: 3px;
}
textarea { height: auto; }
select { padding: 2px; }
input[type=submit], input[type=reset], input[type=button], button {
    background-image: url('pix/bg-btn.gif');
    border: 1px solid #212D5F;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 1px 1px 0 #212D5F;
    padding-bottom: 2px;
    height: 22px;
}
form table {
    margin-top: 10px;
    margin-bottom: 10px;
}
form table tbody tr th {
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    padding-top: 6px;
}
form table tbody tr td {
    vertical-align: top;
}
form table .buttons td {
    border-top: 1px solid #ccc;
}
form table tbody tr.error td {
    border-top: 1px solid #ddd;
    background-color: #fff;
    color: #AA0000;
    font-style: oblique;
}
form table tbody tr.title td {
    border-bottom: 1px solid #999;
    text-align: center;
}
form table tbody tr td .description {
    font-size: 10px;
    font-style: italic;
}
form table tr td ul.errors {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
form table tr td ul.errors li {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}
form table tfoot tr td {
    border-top: 1px solid #ccc;
    text-align: center;
}

/* Form custom classes. */
form input.full-width {
    width: 100%;
}

/* Zend_Form based tag styles .*/
form dl dd {
    margin-left: 0px;
    margin-bottom: 5px;
    left: 0px;
}
form dl dd #captcha-input {
    position: relative;
}
form dl dd ul {
    list-style-type: none;
    font-style: oblique;
    padding: 0px;
    font-size: 11px;
}
form dl dd ul li {
    padding: 0px;
}

/* Classes. */
.ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0px;
    color: #212D5F;
}
.required {
    color: #212D5F;
}
.error {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
    padding-left: 25px;
    background-image: url('pix/bullet_error.png');
    background-repeat: no-repeat;
    background-position: 5px;
    margin-bottom: 10px;
}
.mini, .mini tbody td {
    font-size: 11px;
}
.ta-editor {
    width: 100%;
    height: 200px;
}

#main #body #content a.non-existent {
    color: brown;
    font-weight: bold;
}

/* Identifiers. */
#main #body #sidebar #user-box {
    margin-bottom: 10px;
}
#main #body #sidebar #user-box #sb-ub-i {
    float: left;
}
#main #body #sidebar #user-box #sb-ub-i img {
    padding: 2px;
    background-color: #fff;
    border: 1px solid #aaa;
}
#main #body #sidebar #user-box #sb-ub-c {
    float: left;
    margin-left: 10px;
}

#main #body #sidebar #search {
    border: 1px solid #999;
    padding-top: 1px;
    padding-bottom: 1px;
}
#search input[type=text] {
    border: none;
    width: 162px;
}
#search a {
    padding: 3px 5px 4px 21px;
    background-image: url('pix/find.png');
    background-position: center 50%;
    border-left: 1px solid #ccc;
}

#main #body #content #wiki h1 {
    font-size: 18px;
}

#main #body #content #wiki-info-box {
    /*border-bottom: 1px solid #ddd;*/
    float: right;
    padding-bottom: 5px;
    text-align: right;
    font-size: 10px;
}
#main #body #content #wiki-info-box ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#main #body #content #wiki-info-box ul li {
    display: inline;
    margin-left: 5px;
}

#main #body #content #profile {
    margin-bottom: 20px;
}
#main #body #content #profile #avatar {
    float: left;
}
#main #body #content #profile #avatar img {
    border: 1px solid #aaa;
    padding: 2px;
    background-color: #fff;
}
#main #body #content #profile #name {
    float: left;
    margin-left: 10px;
}

#main #body #content #wiki-index {
    float: right;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding-right: 10px;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
#main #body #content #wiki-index ul {
    padding-left: 10px;
    list-style: disc inside;
}

#main #body #content #wiki-info-box-footer {
    border-top: 1px solid #ddd;
    padding-top: 5px;
    font-size: 10px;
    text-align: right;
    margin-top: 10px;
}

#main #body #content #messages {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
    padding-left: 25px;
    background-image: url('pix/information.png');
    background-repeat: no-repeat;
    background-position: 5px;
    margin-bottom: 10px;
}

#featured {
    background-color: #E5EAF2;
    padding: 10px;
    margin-bottom: 20px;
}
#featured.announcement {
    background-color: #E5F1D0;
}
#featured #type {
    font-size: 11px;
    font-style: oblique;
    float: right;
    color: #aaa;
}
#featured h2 {
    font-size: 18px;
    margin: 0px;
}
#featured h2 a {
    color: #333;
}
#featured h2 a:hover {
    text-decoration: none;
    color: #1C438B;
}

/* News view styles. */
#news-view h1 {
    font-size: 18px;
    margin-bottom: 5px;
}
#news-view h2 {
    margin-bottom: 5px;
}
#news-view #info {
    margin-bottom: 10px;
    font-size: 11px;
}

#news-view-options {
    float: right;
    font-size: 10px;
}

/* Icons */
a.link-icon {
    height: 16px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
a.wiki-edit {
    background-image: url('pix/page_edit.png');
}
a.wiki-history {
    background-image: url('pix/time.png');
}
.icon {
    margin-left: 3px;
    padding: 2px 0 1px 16px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.icon-email {
    background-image: url('pix/email_link.png');
}
.icon-print {
    background-image: url('pix/printer.png');
}
.icon-twitter {
    background-image: url('pix/twitter_16.png');
}
.icon-facebook {
    background-image: url('pix/facebook_16.png');
}
.icon-feed {
    background-image: url('pix/rss_16.png');
}
.icon-feed-14x14 {
    padding: 0 0 0 14px;
    background-image: url('pix/feed-icon-14x14.png');
}
.icon-add {
    background-image: url('pix/add.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}
.icon-delete {
    background-image: url('pix/delete.png');
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
}

/* Table border. */
table.border {
    border: 1px solid #ddd;
}
table.border thead tr td {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
table.border tbody tr td {
    border-bottom: 1px solid #e5e5e5;
}
table.border tbody tr:last-child td {
    border: none;
}
table.border tbody tr:hover td {
    background-color: #f5f5f5;
}
table.border tbody tr.highlight td {
    border-bottom: 1px solid #999;
    background-color: #e5e5e5;
    font-style: oblique;
}
table.border tbody tr.border-top-special td {
    border-top: 1px solid #999;
}
table.border tbody tr.border-top-special:first-child td {
    border-top: none;
}
table.border tfoot tr td {
    font-size: 11px;
    background-color: #f5f5f5;
}
table.border input[type=radio] {
    margin: 0px;
}

table.listing tbody tr td {
    border-bottom: 1px solid #ccc;
}

/* Table view. */
table.view tbody tr th {
    color: #212D5F;
    font-weight: normal;
    text-align: right;
    border-bottom: 1px solid #e5e5e5;
}
table.view tbody tr td {
    border-bottom: 1px solid #e5e5e5;
}
table.view tbody tr:last-child th, table.view tbody tr:last-child td {
    border-bottom: none;
}

/* Code */
pre, div.pre {
    font-size: 12px;
    line-height: 12px;
    border: 1px dashed #2F6FAB;
    padding: 10px;
}
div.pre ins {
    background-color: #A5F7A5;
}
div.pre del {
    background-color: #FFBABA;
}

.nowrap { white-space: nowrap; }

/* profile box */
#profile-box {
    border: 1px solid #aaaaaa;
    padding: 5px;
}
#profile-box table tr th {
    text-align: right;
    font-weight: normal;
    color: #666;
}

#submenu, .actions {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}

.actions {
    margin-top: 10px;
}
.feed {
    padding: 0 0 0 14px;
    background: url('pix/feed-icon-14x14.png') no-repeat 0 50%;
}
